---
import background from "../assets/background.svg";
---

<div id="container" class="h-full">
    <img
        id="background"
        class="fixed top-0 left-0 h-full w-full blur-[100px]"
        src={background.src}
        alt=""
        fetchpriority="high"
    />
    <main class="flex h-full justify-center">
        <section class="p4 flex flex-col items-start justify-center">
            <h1 class="text-2xl">Planning poker tool is now live! 🎉</h1>
        </section>
    </main>
</div>

<style>
    #container {
        font-family:
            Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
            sans-serif;
    }
</style>
