name: build

on:
  workflow_call:

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front-end
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install

      - name: Test frontend
        run: pnpm run test

      - name: Lint frontend
        run: pnpm run lint

      - name: Build frontend
        run: pnpm run build

      - name: Compress build output
        run: |
          tar -czf build-frontend.tar.gz -C dist .

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: ./front-end/build-frontend.tar.gz
